.login_window{
    width: 50%;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
}

.unit{
    margin: 10px;
}

.unit input{
    margin: 0 0 0 10px;
    width: 200px;
    padding: 0 0 0 5px;
}

button{
    margin: 0 10px;
}

.btn-social-icon{
    margin: 0 10px;
}
